html, body {
  height: 100%;
  width: 100%;
  background-color: #08f;
}

header {
  background-color: #fff;
  text-align: center;
  align-items: center;
}


#asdfasdf {
  stroke: none; 
  fill: #08f;
}